// $mainColor:#111;
// $shadowColor:rgba(0,0,0,0.1);
$mainColor: #fff;
$subColor: #222;
$lightColor: #666;
$mildDarkColor: #999;
$green: #008512;
$shadowBasic: #ebebeb;
$shadowHover: #bebebe;


//font size
$titleFontSize: 34px;
$subTitleFontSize: 24px;
// $mobileSubTitleFontSize:20px;
$globalFontSize: 16px;
// $mobileSubFontSize:14px;
$subTextFontSize: 12px;